* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
/*------------------------------Colores-----------------------------*/
:root {
  --blanco: #f7f7f7f7;
  --negro: #262626;
  --primario: #4e595e;
  --primarioSombra1: #364045;
  --primarioSombra2: #262626;
  --primarioSombra3: #2f3538;
  --estado: #9fd402;
  --acento: #f5d221;
  --peligro: #f53e21;
  --secundarioLuz1: #74a8ab;
}
body {
  background-color: var(--primarioSombra1);
}

/*------------------------------Fuentes-----------------------------*/

h1 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24 px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

/*------------------------------Nav---------------------------------*/
nav {
  width: 100%;
  height: 50px;
  background: #262626;
  opacity: 90%;
}

nav,
ul {
  display: flex;
}
nav img {
  width: 30px;
  height: 30px;
  margin: 5px; /*ver como lo centro*/
}
nav img.logoPagina {
  width: 40px;
  height: 40px;
  margin: 5px;
}
nav.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin: 6px;
  color: #f7f7f7;
}

/*---------------------------Container Mobil-----------------------------*/
.container {
  display: grid;
  margin-left: 3%;
  margin-right: 3%;
  grid-template-columns: 1;
  grid-template-rows: repeat(13, 200px);
  grid-template-areas:
    "section1"
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "section7"
    "section7"
    "section7"
    "section8"
    "section8"
    "section8";
}

.section1 {
  grid-area: section1;
  background: red;
}
.section2 {
  grid-area: section2;
  background: blue;
}
.section3 {
  grid-area: section3;
  background: green;
}
.section4 {
  grid-area: section4;
  background: yellow;
}
.section5 {
  grid-area: section5;
  background: purple;
}
.section6 {
  grid-area: section6;
  background: paleturquoise;
}
.section7 {
  grid-area: section7;
  background: goldenrod;
}
.section8 {
  grid-area: section8;
  background: pink;
}
.footer {
  background: rgb(59, 234, 82);
  height: 700px;
}

/*---------------------------------------Media Queria Desktop-------------------------------------------------*/

@media only screen and (min-width: 900px) {
  .nav {
    width: 100%;
    height: 80px;
    background: #262626;
    opacity: 90%;
  }
  .container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: repeat(10, 384px);
    grid-template-areas:
      "section1 section1 section1 section1"
      "section1 section1 section1 section1"
      "section2 section2 section2 section2"
      "section3 section3 section3 section3"
      "section4 section4 section4 section4"
      "section5 section5 section5 section5"
      "section6 section6 section6 section6"
      "section7 section7 section8 section8"
      "section7 section7 section8 section8"
      "section7 section7 section8 section8";
  }

  .section1 {
    grid-area: section1;
    background: red;
  }
  .section2 {
    grid-area: section2;
    background: blue;
  }
  .section3 {
    grid-area: section3;
    background: green;
  }
  .section4 {
    grid-area: section4;
    background: yellow;
  }
  .section5 {
    grid-area: section5;
    background: purple;
  }
  .section6 {
    grid-area: section6;
    background: paleturquoise;
  }
  .section7 {
    grid-area: section7;
    background: goldenrod;
  }
  .section8 {
    grid-area: section8;
    background: pink;
  }
  .section9 {
    background: rgb(59, 234, 82);
    height: 384px;
  }

  /*-----------------------------Fuentes-----------------------------*/

  h1{
    color: #262626;
  font-size: 58px;
  font-weight: 600;
  word-wrap: break-word;

  }
  h2 {
    font-size: 42px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 3.24px;
    word-wrap: break-word;
  }

  h3 {
    color: var(--blanco);
    font-size: 30px;
    font-weight: 400;
    word-wrap: break-word;
  }
  p.textoBody {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.6px;
    word-wrap: break-word;
  }

  p.textoBodyChico {
    color: var(--blanco);
    font-weight: 400;
    word-wrap: break-word;
  }

  .peligro {
    color: var(--peligro);
    font-size: 13px;
  }
  .estado {
    color: var(--estado);
    font-weight: bold;
  }

  ul li,
  button {
    font-size: 14px;
    list-style: none;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }
  /*---------------------------Paginas Form--------------------------------*/
   .form .logo{
    width: 106px;
    height: 106px;
   }
   body.form {
    background-color: var(--primarioSombra1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
 
  .containerFondo {
    width: 30%;
    display: block;
    flex-wrap: wrap;
    background-color: var(--blanco);
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  input,
  button {
    margin: 6px;
  }

  button img {
    margin-left: 6px;
  }
  span.continuarCon {
    padding-left: 6px;
  }
  ::placeholder {
    padding-left: 6px;
  }

  body.form {
    margin-top: 40px;
    margin: 20 px;
    align-items: center;
  }


  img.captcha{
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  button{
    width: 300px;
    height: 40px;
    border-radius: 6px;
    align-items: center;
  }

  button.continuar {
    background-color: var(--estado);
    color: var(--blanco);
    font-weight: bold;
  }

  button.ingresar {
    text-align: left;
    align-items: center;
  }
  img.separador {
    width: 300px;
    height: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .inputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  input.input {
    width: 300px;
    height: 40px;
    border-radius: 6px;
  }
  

  /*---------------------------Pagina Juegos----------------------------------*/

  /*------Layouts Juegos----------*/

  div.containerJuegos h2 {
    text-align: center;
    color: var(--blanco);
  }
  .containerJuegos {
    margin-left: 10%;
    background-color: var(--primarioSombra1);
  }

  .containerJuegos,
  sidebar.sidebarVideos,
  sidebar .sidebarJuego {
    display: block;
  }

  .breadcrumb,
  section.sectionJuego,
  section.sectionRecomedados,
  section .sectionComentarios {
    display: flex;
  }
  section.sectionJuego,
  section.seccionRecomendados,
  section.sectionComentarios {
    width: 1536px;
  }
  section.sectionJuego {
    height: 1300px;
  }

  sidebar.sidebarJuegoInstrucciones {
    width: 1000px;
    height: 1040 px;
    margin: 0;
  }

  sidebar.sidebarVideos {
    width: 1280px;
    height: 1300px;
  }
  sidebar.sidebarVideos {
    margin-top: 20px;
  }

  section.seccionRecomendados {
    width: 100%;
    height: 400px;
  }

  section.sectionComentarios {
    width: 100%;
    height: 1350px;
    background-color: var(--primarioSombra3);
  }

  sidebar.sidebarVideos.video img {
    width: 316px;
    height: 227px;
    margin: 6px;
  }

  .video img {
    width: 316px;
    height: 227px;
    border-radius: 6px;
  }

  .juego img {
    width: 800px;
    height: 600x;
    border-radius: 16px;
    margin-right: 20px;
    margin-top: 20px;
  }
  img.separadorVideosSugeridos {
    width: 316px;
  }


  sidebar.siderbarJuegoInstrucciones div.instrucciones {
    /*revisar no me lo toma*/
    background-color: var(--primarioSombra3);
    width: 800px;
    height: 449 px;
  }

  /*------Comentarios-----------*/
  div.botoneraComentarios {
    background-color: var(--primarioSombra3);
    width: 80%;
    height: 50px;
    margin-bottom: 2%;
    margin-left: 20px;
  }

  div.botoneraComentarios img {
    width: 20px;
    height: 20px;
    background-color: var(--primario);
  }

  div.botoneraComentarios li,
  div.botoneraComentarios a {
    background-color: var(--primario);
    border: 4px;
    width: fit-content;
    height: 50px;
    text-align: center;
    align-items: baseline;
    color: var(--blanco);
    text-decoration: none;
    margin-right: 6px;
  }

  div.botoneraComentarios input {
    width: 80%;
    height: 50px;
    border-radius: 6px;
  }

  /*------Botonera Redes----------*/
  div.botoneraRedes {
    background-color: var(--secundarioLuz1);
    width: 800px;
    margin: 0%;
    border-radius: 6px;
    padding: 0%;
  }
  div.botoneraRedes img {
    width: 30px;
    height: 30px;
    border-radius: 0%;
  }
  .botoneraRedes ul{
    justify-content: end;
    align-items: center;
    margin: 2px;
  }
  .botoneraComentarios li{
    align-items: center;
    margin: 10px;
    padding: 10x;
    width: max-content;
  }
  img.redes{
    width: 15px;
    height: 15px;
    margin-bottom: 8px;
  }
}
